:root {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: auto;
  --col-black-green: #00160C;
  --col-dark-green: #005A32;
  --col-green: #238B45;
  --col-light-green: #41AB5D;
  --col-white-green: #C7E9C0;
  --col-white: #ffffff;
  --col-brown: #521d16;
  --col-red: #e23629;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
}
